<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ options.title }}</title>

  <meta name="description" content="">
  <meta name="generator" content="kss-node">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  {{ styles|raw }}
  <link rel="stylesheet" href="kss-assets/kss.css">
</head>
<body class="kss__body{{ homepage ? ' kss__body--homepage' }}{{ sections[0].layout == 'page' ? ' kss__body--page' }}{{ sections[0].classes ? ' ' ~ sections[0].classes }}">
  {% if homepage %}
    <header class="kss__header">
      <div class="kss__header-title-wrapper">
        <h1 class="kss__header-title">{{ options.title }}</h1>
        <div class="kss__header-logo-wrapper">
          {#
            Include custom logo here.
          #}
          {{ test_title }}
        </div>
      </div>
      <nav class="kss__menu">
        <button class="kss__menu-toggle">
          <span></span>
          <span></span>
          <span></span>
          Menu
        </button>
        <ul class="kss__menu-list">
          <li class="kss__menu-list-item kss__menu-list-item--home">
            <a class="kss__menu-list-item-link" href="./index.html">
              <span class="kss__menu-list-item-name">Overview</span>
            </a>
          </li>
          {% for menu_item in menu %}
            <li class="kss__menu-list-item kss__menu-list-item--section">
              <a class="kss__menu-list-item-link" href="item-{{ menu_item.referenceURI }}.html">
                <span class="kss__menu-list-item-ref">{{ menu_item.referenceNumber }}</span>
                <span class="kss__menu-list-item-name">{{ menu_item.header }}</span>
              </a>
              {% if menu_item.children is not empty %}
                <ul class="kss__menu-list--child">
                  {% for menu_child in menu_item.children %}
                    <li class="kss__menu-list-item kss__menu-list-item--page{{ menu_child.referenceNumber == sections[0].referenceNumber ? ' kss-active' }}">
                      <a class="kss__menu-list-item-link" href="item-{{ menu_child.referenceURI }}.html">
                        <span class="kss__menu-list-item-ref{% if menu_child.isGrandChild %} kss__menu-list-item-ref--grandchild{% endif %}">
                          {{ menu_child.referenceNumber }}
                        </span>
                        <span class="kss__menu-list-item-name">
                          {{ menu_child.header }}
                        </span>
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </nav>
      {#
        Set breaktpoint values here.
      #}
      {%
        set breakpoints = [
          {
            "name": "small",
            "value": "375"
          },
          {
            "name": "medium",
            "value": "768"
          },
          {
            "name": "large",
            "value": "1025"
          },
          {
            "name": "x-large",
            "value": "1480"
          }
        ]
      %}
      <ul class="kss__breakpoint-menu">
        {% for bp in breakpoints %}
          <li class="kss__breakpoint-menu-item">
            <button class="kss__breakpoint-menu-button" data-bp-value="{{ bp.value }}">{{ bp.name }}</button>
          </li>
        {% endfor %}
          <li class="kss__breakpoint-menu-item">
            <button class="kss__breakpoint-menu-button kss-active" data-bp-value="full">full</button>
          </li>
      </ul>
    </header>
    <main class="kss-layout__main--home" aria-label="Content">
      <div class="kss-layout__content-frame-wrapper">
        <iframe class="kss-layout__content-frame"></iframe>
      </div>
      <section class="kss-layout__content-wrapper">
        <article role="main" class="kss-layout__content">
          <div class="kss-item">
            <div class="kss-item__title-wrapper">
              <h2 class="kss-item__title">Overview</h2>
            </div>
            <div class="kss-item__description">
              {{ homepage|raw }}
            </div>
          </div>
        </article>
      </section>
    </main>
  {% else %}
    {% if sections[0].layout != 'page' %}
      <main class="kss-layout__main js-open" aria-label="Content">
        <section class="kss-layout__content-wrapper">
          <article role="main" class="kss-layout__content">
            {% for section in sections %}
              <div class="kss-item kss-item--depth-{{ section.depth }}{{ section.classes ? ' ' ~ section.classes }}" id="kssref-{{ section.referenceURI }}">
                <div class="kss-item__title-wrapper">
                  <h2 class="kss-item__title">{{ section.header }}</h2>
                </div>

                {% if section.description %}
                  <div class="kss-item__description">
                    {{ section.description|raw }}
                  </div>
                {% endif %}

                {% for parameter in section.parameters %}
                  {% if loop.first %}
                    <div class="kss-parameters__title">Parameters:</div>
                    <ul class="kss-parameters">
                  {% endif %}
                    <li class="kss-parameters__item">
                      <div class="kss-parameters__name"><code>{{ parameter.name }}</code></div>
                      <div class="kss-parameters__description">
                        {{ parameter.description|raw }}
                        {% if parameter.defaultValue %}
                          <div class="kss-parameters__default-value">
                            Defaults to: <code>{{ parameter.defaultValue }}</code>
                          </div>
                        {% endif %}
                      </div>
                    </li>
                  {% if loop.last %}
                    </ul>
                  {% endif %}
                {% endfor %}

                {% if section.example %}
                  <div class="kss-item__example-wrapper">
                    <div class="kss-item__example">
                      {{ section.example|raw }}
                    </div>
                    {% for modifier in section.modifiers %}
                      <div class="kss-item__example modifier">
                        <div class="kss-item__modifier-details">
                          <div class="kss-item__modifier-name">{{ modifier.name }}</div>
                          <div class="kss-item__modifier-description">
                            {{ modifier.description|raw }}
                          </div>
                        </div>
                        {{ modifier.markup|raw }}
                      </div>
                    {% endfor %}
                  </div>

                  {% if section.markup %}
                    <div class="kss-item__details-wrapper">
                      <dl class="kss-item__details">
                        <dt class="kss-item__details-title js-active">Markup Example</dt>
                        <dd class="kss-item__details-content js-active">
                          <pre>
                            <code data-language="html">
                              {{ section.markup|escape('html') }}
                            </code>
                          </pre>
                        </dd>
                      </dl>
                      {% if section.sourceFile.name %}
                        <dl class="kss-item__details">
                          <dt class="kss-item__details-title js-active">Source</dt>
                          <dd class="kss-item__details-content js-active">
                            <code>
                              {{ section.sourceFile.name }}
                            </code>, line {{ section.sourceFile.line }}
                          </dd>
                        </dl>
                      {% endif %}
                    </div>
                  {% endif %}

                {% endif %}

              </div>
            {% endfor %}
          </article>
        </section>
      </main>
    {% else %}
      {% for section in sections %}
        {{ section.example|raw }}
      {% endfor %}
    {% endif %}
  {% endif %}
  <!-- SCRIPTS -->
  <!-- Fake drupalSettings -->
  <script type="application/json" data-drupal-selector="drupal-settings-json">
    {}
  </script>
  <!-- / Fake drupalSettings -->
  <script src="/core/assets/vendor/jquery/jquery.min.js"></script>
  <script src="/core/assets/vendor/jquery-once/jquery.once.min.js"></script>
  <script src="/core/assets/vendor/domready/ready.min.js"></script>
  <script src="/core/misc/drupalSettingsLoader.js"></script>
  <script src="/core/misc/drupal.js"></script>
  <script src="/core/misc/drupal.init.js"></script>
  <script src="kss-assets/rainbow.min.js"></script>
  <script src="kss-assets/kss-menu.js"></script>
  <script src="../bootstrap/js/dropdown.js"></script>
  <script src="../bootstrap/js/modal.js"></script>
  <script src="../bootstrap/js/affix.js"></script>
  <script src="../js/jquery.flexslider-min.js"></script>
  <script src="../js/menus.js"></script>
  <script src="../js/site-search.js"></script>
  <script src="../js/slideshow.js"></script>
  {{ scripts|raw }}
<!-- Automatically built using <a href="https://github.com/kss-node/kss-node">kss-node</a>. -->
</body>
</html>